/* Home Page CSS */
.poster-pic {
  position: relative;
}

.learn-button {
  position: absolute;
  z-index: 1;
  bottom: 250px;
  text-align: center;
  right: 0px;
  left: 0px;

}

#footer-home {
  position: absolute;
  padding: 2% 0% 0%;
  text-align: center;
  right: 0px;
  left: 0px;
}

.icon {
  margin-right: 10px;
  margin-bottom: 15px;
}

@media (max-width: 1020px) {
  .learn-button {
    /* position: relative; */
    bottom: 350px;
    margin: 30px 284px;
  }
  #footer-home {
    bottom: 30px;

  }

}
@media (max-width: 810px) {
  .learn-button {
    /* position: relative; */
    bottom: 30px;
    margin: 230px 0px;
  }
  #footer-home {
    bottom: 30px;
  }
}
@media (max-width: 750px) {
  .learn-button {
    /* position: relative; */
    bottom: 30px;
    margin: 230px 0px;
  }
  #footer-home {
    bottom: 30px;
  }

}
@media (max-width: 530px) {
  .learn-button {
    /* position: relative; */
    bottom: 30px;
    margin: 230px 0px;
  }
  #footer-home {
    bottom: 30px;
  }

}

/* Bio Page CSS */
.card-Body {
  background-color: #dda31b;

}

#hr {
  border-top: 5px dotted #fff;
  width: 25px
}


#p-title-bio {
  font-family: "Merriweather Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: bold;
  padding: 0% 30%;
}

#p-txt {
  font-family: "Imperial Script", cursive;
  font-weight: 600;
  font-size: 50px;
  font-style: normal;
}

.card-deck {
  padding: 2% 10%;
  margin-bottom: 20px;

}

#footer {
  position: relative;
  background-color: white;
  padding: 5% 20% 15%;
  top: 75px
}

#low-footer{
  text-align: center;
  position: relative;

}

@media (max-width: 500px ) {
  #footer {
    padding: 5% 20% 30%;
  }
  #low-footer {
    padding: 0% 0% 3%;
  }

}

/* Music Page CSS  */
.music-txt {
  text-align: center;
}
.music-player {
  text-align: center;
}

.music-page {
  background-color: #dda31b;
}

#low-footer-music {
  text-align: center;
  padding-top: 110px;
  padding-bottom: 40px;
  background-color: #fff;
}

/* Video Page CSS */
.video-txt {
  text-align: center;
}

.video-display {
  text-align: center;
}

#low-footer-video {
  text-align: center;
  padding-top: 85px;
  padding-bottom: 69px;
  margin-top: 25px;
  background-color: #dda31b;
}
/* Contact Page CSS */

.contact-txt {
  text-align: center;
}

#form {
  background-color: #e5e5e5;
}

#hr-bl {
  border-top: 5px dotted #dda31b;
  width: 25px;
}

#form {
  padding: 5% 15%;
}

#low-footer-video {
  margin-top: 0px;
}

.col {
  margin-top: 5%;
}

.form-group {
  margin-top: 5%;
}

.submit-button {
  padding: 3% 15%;
  text-align: center;
}

@media (min-width: 390px) {
  .names-txt {
      margin-right: 0px;
    }
  div.mb-3 {margin-right: 150px;}
  }

/* Submit Page CSS */
.card-sub {
  padding: 10% 20%;
  text-align: center;
}

#submit {
  background-color: #dda31b;
}
#low-footer-submit {
  padding-top: 221px;
  text-align: center;

}
